In [1]:
a=10
b=20
if a==10 and b==20: 
    print('This is valid statement')

This is valid statement

In [2]:
a==10 and b==20

True

In [3]:
a=10
b=20
if a==10 and b>20: #NO output whole codition is false it wont go inside if statement
    print('This is valid statement')

In [4]:
a==10 and b>20

False

In [6]:
a=10
b=20
if a==10 and b>20: 
    print('This is valid statement')
else:
    print('Not valid statement')

Not valid statement

In [8]:
a=10
b=20
if a==10 and b>20: 
    print('This is valid statement')
elif a==10 and b<20:
    print('This statement of elif is invalid')
else:
    print('Not valid statement')

Not valid statement

In [9]:
a=10
b=20
if a==10 or b>20: 
    print('This is valid statement')
elif a==10 and b<20:
    print('This statement of elif is invalid')
else:
    print('Not valid statement')

This is valid statement

In [10]:
a=str(input('Enter your name '))
b=str(input('Enter your second name '))

if a=='Rajat'and b=='Kumar':
    print('The full name is Rajat Kumar Sahu')
else :
    print('Not a Valid Name')

Enter your nameRajat
Enter your second nameKumar
The full name is Rajat Kumar Sahu

### While statement

In [23]:
inital_speed=0
final_speed=12
count=1
while inital_speed<final_speed:
    print('This is my Speed')
    count=count+1
    inital_speed=inital_speed+1
    if count==1000:
        break

This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed

In [27]:
i=1
j=5
while i<j:
    print('Value of ',i)
    i=i+1

Value of  1
Value of  2
Value of  3
Value of  4

In [32]:
i=1
notes=5
while i<notes:
    print(i)
    i=i+1
else:
    print('Print no tin available ')

1
2
3
4
Print no tin available

In [34]:
i = 1
while i < 10:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
7
8
9
i is no longer less than 6

In [38]:
i=5
j=6
k=10
while i<k:
    print(i)
    i=i+1
else:
    while j<k:
        print(j)
        j=j+1
    print('Done and deided')

5
6
7
8
9
6
7
8
9
Done and deided

In [39]:
r='rajat kumar sahu'

In [45]:
r[:-5]

'rajat kumar'

In [48]:
r[3:10:1]

'at kuma'

In [49]:
r[::-1]

'uhas ramuk tajar'

In [50]:
n='my name is rajat kumar sahu'

In [54]:
n[11]

'r'

In [56]:
n[-10]

'k'

In [69]:
n[3:10]

'name is'

In [66]:
n[::-1]

'uhas ramuk tajar si eman ym'

In [76]:
n[6::-1]

'eman ym'

In [72]:
def reverse_while_loop(s):
    s1 = ''
    length = len(s) - 1
    while length >= 0:
        s1 = s1 + s[length]
        length = length - 1
    return s1
s='My Name is rajat'
reverse_while_loop(s)

'tajar si emaN yM'

In [79]:
r='rajat'
s[-2]

'a'

In [84]:
s='My name is rajat'
for i in s :
    print(i)

M
y

n
a
m
e

i
s

r
a
j
a
t

In [85]:
s='My Name is rajat'

for i in s:
    if i=='a':
        print('I am confifent')
        continue
    print(i)

M
y

N
I am confifent
m
e

i
s

r
I am confifent
j
I am confifent
t

In [99]:
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 't':
        print("last char was u ")
    print("this is a else condtion ")

M
y

N
a
m
e

i
s

r
a
j
a
t
last char was u
this is a else condtion

In [94]:
for i in s:
    if i=='e':
        print('Euphoria')
        break;
else:
    if i=='a':
        print('Last character is u')

Euphoria

In [105]:
s='rajatkumarsahu'
ss=''
for i in range(len(s)):
    if s[i]=='a':
        continue
    else:
        ss=ss+s[i]

In [106]:
ss

'rjtkumrshu'

In [ ]:
n = 7 
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")

In [110]:
n=int(input('Enter a nuber : '))
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\n')

Enter a nuber : 7
*

**

***

****

*****

******

*******

In [111]:
n=int(input('ENter a number : '))
for i in range(0,n):
    for j in range(0,i+1):
        print('-',end='')
    print('\r')

ENter a number : 7
-
--
---
----
-----
------
-------

In [113]:
n=int(input('enter a number '))
for i in range(0,n):
    for  j in range(0,i+1):
        print('*',end='')
    print('\r')

enter a number 5
*
**
***
****
*****

In [115]:
def left_patter(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print('+',end='')
        print('\r')