In [1]:
print('This is my first python program Rajat')

In [2]:
print("My name is rajat")

In [3]:
# my name is rajat
"""nj
kj
lasoda 
asdkasdas
nsndmand
dkasdkadsd
sdksadn
skdnsknd
skdjadpa
ksdalsdjisajdkd
ksda"""

In [4]:
"""print('fgsdagsdga')
print('jdjhasjhjsdh')
print('sjbdjabdjasbd')"""

In [5]:
a=10
b='name'

In [6]:
type(a)

In [7]:
type(b)

In [8]:
b

In [9]:
print(a,b,'Rajat')

In [10]:
a,b,s,i='rajat','kumar','sahu',10

In [11]:
s

In [12]:
type(i)

In [13]:
print(a,b,s,i)

In [14]:
b='"Rajat"'
b

In [15]:
B='"Sahu"'
B

In [16]:
# Variable and special character are not used to store variable excpet _
_b='rajat'

In [17]:
name='Rajat'
userid='In001'
password='Namu'
mail='rajatsahurcoks@gmail.com'

In [18]:
a=1.6

In [19]:
type(a)

In [20]:
a=True
b=False
print(type(a) 
)
print(type(b))

In [21]:
print(True+True+True+False+True)

In [22]:
print(False-True+True)

In [23]:
True*True

In [24]:
True/False

ZeroDivisionError: division by zero

In [25]:
n=45+6j
type(n)

complex

In [26]:
print(n.real)
print(n.imag)

45.0
6.0

In [27]:
m=7+7j
type(m)

complex

In [28]:
n*m

(273+357j)

In [29]:
b="Rajat"
type(b)
#python is dyanmic  programning

str

In [30]:
print(1+'Rajat')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
print('1'+'Rajat')

1Rajat

In [32]:
print('rajat '+'sahu')

rajat sahu

In [33]:
1+1.3

2.3

In [34]:
#Try to convert float to int it will reduce size of data

In [35]:
"Rajat"+'Rajat'+'Rajat'

'RajatRajatRajat'

In [36]:
"rajat*3"

'rajat*3'

In [37]:
"Sahu"-"Sahu"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [38]:
int('3')

3

In [39]:
int('Rajat')

ValueError: invalid literal for int() with base 10: 'Rajat'

In [40]:
a=10

In [41]:
a=input('Enter a integer')

Enter a integer5

In [42]:
type(a)

str

In [49]:
a=int(input('Enter a number ')) 
b=int(input('Enter a number ')) 
c=int(input('Enter a number ')) 
d=(a+b)/c
print(d)

e=d+7j+45
f=str(e)+'Rajat'
print(f)

Enter a number 6
Enter a number 5
Enter a number 4
2.75
(47.75+7j)Rajat

In [47]:
e

(51+7j)

## Conditional TYpe

In [51]:
a=int(input('ENter number less 34  '))

ENter number less 34  56

In [54]:
if a<34:
    pass #if we dont except any output

In [56]:
a=int(input('ENter number less 34  '))
if a<34:
    print('Data less than 34 and I am with it')

ENter number less 34  24
Data less than 34 and I am with it

In [57]:
a=int(input('ENter number less 34  '))
if a<34:
    print('Data less than 34 and I am with it')

ENter number less 34  56

In [55]:
a=int(input('ENter number less 34  '))
if a<34:
    print('Data LEss than 34')
else:
    print('Data more than 34')

Data more than 34

In [59]:
a=int(input('ENter number less 34  '))
if a<34:
    print('Data LEss than 34')
elif a<100:
    print('Data Less than 100')
else:
    print('Data more than 34')

ENter number less 34  56
Data Less than 100

In [66]:
salary=int(input('enter your salary ' ))
if salary<1000:
    print('I can buy a car')
elif salary<500:
    print('I will go for bike')
elif slary<100:
    print('DontBuy anything')
else:
    print("SAVE THE MONEY RAJAT")
#Because cod line by line first statement is true it wont go for a next statement

enter your salary 4
I can buy a car

In [65]:
salary=int(input('enter your salary ' ))
if salary>1000:
    print('I can buy a car')
elif salary>500:
    print('I will go for bike')
elif salary>100:
    print('DontBuy anything')
else:
    print("SAVE THE MONEY RAJAT")

enter your salary 4
SAVE THE MONEY RAJAT

In [68]:
salary=int(input('enter your salary ' ))
if salary>1000:
    print('Your Salary is good')
    if salary <5000:
        print('GO with nano car')
    elif salary<10000:
        print('I will go maruti')
    elif salary<20000:
        print('I will go with jeep')
    else :
        print('Go with BMW')
elif salary>500:
    print('I will go for bike')
elif salary>100:
    print('DontBuy anything')
else:
    print("SAVE THE MONEY RAJAT")

enter your salary 40000
Your Salary is good
Go with BMW